@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

body {
  width: 100%;
  background-color: black;
  color: white;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*::-webkit-scrollbar {
  background: none;
}

.movies-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  margin-top: 10px;
}
@media only screen and (min-width: 750px) {
  .movies-con {
    margin-top: 50px;
  }
}
.movies-con .movies-filter-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
}
@media only screen and (min-width: 750px) {
  .movies-con .movies-filter-btn {
    max-width: 550px;
  }
}
.movies-con .movies-filter-btn button {
  width: 80px;
  font-size: 15px;
  font-weight: 900;
  color: whitesmoke;
  background-color: transparent;
  border: 1px solid rgba(245, 245, 245, 0.426);
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s linear;
}
.movies-con .movies-filter-btn button:hover {
  transform: scale(1.1);
}
.movies-con .search-con {
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  max-width: 300px;
}
.movies-con .search-con .search-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.movies-con .search-con .search-form input {
  padding: 5px;
  width: 80%;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  color: whitesmoke;
  border: 1px solid rgba(245, 245, 245, 0.418);
  background-color: black;
}
.movies-con .movies-nain-con {
  padding: 10px 0;
  margin-top: 15px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.movies-con .movies-nain-con .movies-card-con {
  margin: 5px;
  position: relative;
}
.movies-con .movies-nain-con .movies-card-con .add-watchlist-con {
  position: absolute;
  width: 100%;
  padding: 0 5px;
  top: 0;
  z-index: 3;
}
.movies-con .movies-nain-con .movies-card-con .add-watchlist-con .add-watchlist-icon {
  margin-left: 80%;
  font-size: 25px;
  background-color: black;
}
@media only screen and (min-width: 750px) {
  .movies-con .movies-nain-con .movies-card-con .add-watchlist-con .add-watchlist-icon {
    font-size: 35px;
  }
}
.movies-con .movies-nain-con .movies-card-con .movies-nain-con2 {
  border: 1px solid rgba(245, 245, 245, 0.405);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 8px 5px;
  width: 105px;
  height: 150px;
  position: relative;
  transition: all 0.2s linear;
  -webkit-animation: ee 0.4s linear;
          animation: ee 0.4s linear;
}
@-webkit-keyframes ee {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ee {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.movies-con .movies-nain-con .movies-card-con .movies-nain-con2:hover {
  transform: scale(1.1);
}
@media only screen and (min-width: 750px) {
  .movies-con .movies-nain-con .movies-card-con .movies-nain-con2 {
    width: 150px;
    height: 250px;
    margin: 10px;
  }
}
.movies-con .movies-nain-con .movies-card-con .movies-nain-con2 img {
  width: 100%;
  height: 90%;
  border-radius: 5px;
}
.movies-con .movies-nain-con .movies-card-con .movies-nain-con2 p {
  margin-top: 5px;
  font-size: 10px;
}/*# sourceMappingURL=MoviesStyle.css.map */