// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

body {
  width: 100%;
  background-color: black;
  color: white;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}
*::-webkit-scrollbar {
  background: none;
}
$shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.301);
$border: 2px solid rgb(214, 214, 214);
$cardsj-bg: rgb(224, 223, 230);
$hover-Color: whitesmoke;
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 750px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1750px) {
      @content;
    }
  }
}
// section 1 style container
.section-con {
  // border: 2px solid green;
  margin-top: 10px;
    // @include flexDisplay(flex-start, center, row);
  // height: 600px;
  h1 {
    font-size: 20px;
    padding: 0 10px;
  }

  // slider container
  .section {
    // border: 2px solid blue;
    height: 300px;
    margin-top: 10px;
    @include flexDisplay(flex-start, center, row);
    overflow-x: scroll;
    overflow-y: hidden;

    // for tablets above
    @include responsive(tablet) {
      height: 370px;
    }

    // individual containers
    .carousel-item {
      @include flexDisplay(space-between, center, column);
      padding: 8px;
      min-width: 200px;
      height: 300px;
      position: relative;
      // border: 2px solid red;
      .imgDL-bg {
        // border: 2px solid red;
        @include flexDisplay(center, center, row);
        position: absolute;
        right: 0;
        width: 100%;
        height: 85%;
        border-radius: 10px;
        transition: all 0.3s linear;
        opacity: 0;

        &:hover {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.653);
        }
        .open-icon {
          @include flexDisplay(center, center, row);
          margin: 0 auto;
          font-size: 70px;
          border: 1px solid whitesmoke;
          padding: 10px;
          border-radius: 50%;
        }
      }

      // for tablets above
      @include responsive(tablet) {
        // min-width: 250px;
        // min-height: 350px;
      }

      // style for each image
      img {
        border: 2px solid whitesmoke;
        width: 100%;
        height: 90%;
        border-radius: 10px;
      }
    }
  }
}
